@import url("fonts/stylesheet.css");
* {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: calc(384px + (960 - 384)*((100vw - 768px) / (1920 - 768)));
    background-image: url("../img/bgi1920.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a6deacc;
    width: 100%;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    width: 63%;
    justify-content: space-between;
    align-items: center;
}

.nav-menu nav {
    display: flex;
    flex-direction: row;
}

.nav-menu nav li {
    display: flex;
    align-items: center;
    margin-left: calc(9.6px + (24 - 9.6)*((100vw - 768px) / (1920 - 768)));
    height: calc(32px + (80 - 32)*((100vw - 768px) / (1920 - 768)));
}

.nav-menu nav li a {
    color: #FFFFFF;
    font-size: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
}

.nav-menu nav li a:hover {
    text-decoration: underline;
}

.logo-div {
    width: calc(48px + (120 - 48)*((100vw - 768px) / (1920 - 768)));
    height: calc(9.6px + (24 - 9.6)*((100vw - 768px) / (1920 - 768)));
    background-image: url("../img/Logo.svg");
    background-size: 100%;
}

.txt-butt {
    height: calc(352px + (880 - 352)*((100vw - 768px) / (1920 - 768)));
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a6deacc;
    flex-direction: column;
    width: 100%;
}

.container-txt {
    width: 39%;
    padding-bottom: calc(32px + (80 - 32)*((100vw - 768px) / (1920 - 768)));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.txt-hp h1 {
    line-height: calc(25.6px + (64 - 25.6)*((100vw - 768px) / (1920 - 768)));
    font-size: calc(20.8px + (52 - 20.8)*((100vw - 768px) / (1920 - 768)));
    font-weight: 600;
    text-align: center;
}

.txt-hp p {
    margin-top: calc(7.2px + (18 - 7.2)*((100vw - 768px) / (1920 - 768)));
    font-size: calc(7.2px + (18 - 7.2)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
    text-align: center;
}

.top-butt button {
    background-color: #ECEFF2;
    border: none;
    margin-top: calc(36.8px + (92 - 36.8)*((100vw - 768px) / (1920 - 768)));
    padding: calc(8px + (20 - 8)*((100vw - 768px) / (1920 - 768)));
    border-radius: calc(1.6px + (4 - 1.6)*((100vw - 768px) / (1920 - 768)));
}

.top-butt button p {
    padding-left: calc(8px + (20 - 8)*((100vw - 768px) / (1920 - 768)));
    padding-right: calc(8px + (20 - 8)*((100vw - 768px) / (1920 - 768)));
    font-size: calc(8px + (20 - 8)*((100vw - 768px) / (1920 - 768)));
    font-weight: 600;
}

.section-two {
    width: 100%;
    height: calc(387.6px + (969 - 387.6)*((100vw - 768px) / (1920 - 768)));
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.txt-cart {
    width: 63.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.txt-wrk {
    width: 100%;
}

.txt-wrk h1 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: calc(16px + (40 - 16)*((100vw - 768px) / (1920 - 768)));
    margin-bottom: calc(24.4px + (61 - 24.4)*((100vw - 768px) / (1920 - 768)));
}

.cart-txt {
    width: 22%;
}

.cart-txt img {
    width: calc(28.8px + (72 - 28.8)*((100vw - 768px) / (1920 - 768)));
    margin-bottom: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
}

.cart-txt h2 {
    font-size: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
    font-weight: 600;
    margin-bottom: calc(1.6px + (4 - 1.6)*((100vw - 768px) / (1920 - 768)));
}

.cart-txt p {
    font-size: calc(5.6px + (14 - 5.6)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
    color: #5E646A;
}

.thrt-blk {
    width: 63.33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.blk-txt {
    width: calc(236.8px + (592 - 236.8)*((100vw - 768px) / (1920 - 768)));
}

.blk-txt h2 {
    font-size: calc(12.8px + (32 - 12.8)*((100vw - 768px) / (1920 - 768)));
    font-weight: 600;
    margin-bottom: calc(7.2px + (18 - 7.2)*((100vw - 768px) / (1920 - 768)));
}

.blk-txt p {
    font-size: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
    line-height: calc(11.2px + (28 - 11.2)*((100vw - 768px) / (1920 - 768)));
    color: #5E646A;
}

.thrt-blk img {
    width: calc(236.8px + (592 - 236.8)*((100vw - 768px) / (1920 - 768)));
}

.burger-btn {
    display: none;
}

.nav-arr {
    display: none;
}

.sectionslider {
    width: 100%;
    height: calc(225.6px + (564 - 225.6)*((100vw - 768px) / (1920 - 768)));
    background-color: #F6F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.slick-track {
    display: flex;
    align-items: flex-start;
    min-width: 0;
    overflow: hidden;
}

.slick-list {
    overflow: hidden;
    min-width: 0;
    width: 58.28125%;
    margin-left: 21.26%;
}

.slick-arrow {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    width: calc(12.8px + (32 - 12.8)*((100vw - 768px) / (1920 - 768)));
    height: calc(12.8px + (32 - 12.8)*((100vw - 768px) / (1920 - 768)));
    z-index: 10;
    font-size: 0;
    border: none;
}

.slick-arrow.slick-prev {
    left: 17.76%;
    background: url('../img/fi-sr-angle-left.svg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
    right: 17.76%;
    background: url('../img/fi-sr-angle-left.svg') 0 0 / 100% no-repeat;
    transform: translateY(-50%) rotate(180deg);
}

.slick-arrow.slick-prev:hover {
    background: url('../img/fi-sr-angle-right.svg') 0 0 / 100% no-repeat;
    transform: translateY(-50%) rotate(180deg);
}

.slick-arrow.slick-next:hover {
    background: url('../img/fi-sr-angle-right.svg') 0 0 / 100% no-repeat;
    transform: translateY(-50%);
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(7.2px + (18 - 7.2)*((100vw - 768px) / (1920 - 768)));
}

.slick-dots li {
    list-style: none;
    margin: 0 calc(3.4px + (8.5 - 3.4)*((100vw - 768px) / (1920 - 768)));
}

.slick-dots button {
    font-size: 0;
    width: calc(3.2px + (8 - 3.2)*((100vw - 768px) / (1920 - 768)));
    height: calc(3.2px + (8 - 3.2)*((100vw - 768px) / (1920 - 768)));
    border: none;
    border-radius: 50%;
    background: #C2C8CD;
}

.slick-dots li.slick-active button {
    background: #2A6CEA;
}

.slider-item {
    background-color: #FFFFFF;
    width: calc(136.4px + (341 - 136.4)*((100vw - 768px) / (1920 - 768)));
    height: calc(126.4px + (316 - 126.4)*((100vw - 768px) / (1920 - 768)));
    margin: calc(12.8px + (32 - 12.8)*((100vw - 768px) / (1920 - 768))) calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
    box-shadow: 0 calc(2px + (5 - 2)*((100vw - 768px) / (1920 - 768))) calc(9.6px + (24 - 9.6)*((100vw - 768px) / (1920 - 768))) #0000001A;
    border-radius: calc(3.2px + (8 - 3.2)*((100vw - 768px) / (1920 - 768)));
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.sectionslider h2 {
    text-align: center;
    font-weight: 600;
    font-size: calc(16px + (40 - 16)*((100vw - 768px) / (1920 - 768)));
    line-height: calc(22.4px + (56 - 22.4)*((100vw - 768px) / (1920 - 768)));
}

.img-name {
    display: flex;
    flex-direction: row;
    margin: calc(8.8px + (22 - 8.8)*((100vw - 768px) / (1920 - 768))) calc(8.8px + (22 - 8.8)*((100vw - 768px) / (1920 - 768))) calc(8px + (20 - 8)*((100vw - 768px) / (1920 - 768))) calc(8.8px + (22 - 8.8)*((100vw - 768px) / (1920 - 768)));
}

.avat-otz {
    margin-right: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
}

.avat-otz img {
    width: calc(17.6px + (44 - 17.6)*((100vw - 768px) / (1920 - 768)));
    height: calc(17.6px + (44 - 17.6)*((100vw - 768px) / (1920 - 768)));
}

.name-sity h3 {
    font-weight: 600;
    font-size: calc(6.4px + (16 - 6.4)*((100vw - 768px) / (1920 - 768)));
    margin-bottom: calc(1.6px + (4 - 1.6)*((100vw - 768px) / (1920 - 768)));
    line-height: calc(9.6px + (24 - 9.6)*((100vw - 768px) / (1920 - 768)));
}

.name-sity p {
    font-size: calc(4.8px + (12 - 4.8)*((100vw - 768px) / (1920 - 768)));
    color: #5E646A;
}

.cart-text {
    margin: 0 calc(8.8px + (22 - 8.8)*((100vw - 768px) / (1920 - 768)));
}

.cart-text p {
    font-size: calc(5.6px + (14 - 5.6)*((100vw - 768px) / (1920 - 768)));
    line-height: calc(9.6px + (24 - 9.6)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
}

footer {
    border-top: 1px solid #ECEFF2;
    height: calc(35.2px + (88 - 35.2)*((100vw - 768px) / (1920 - 768)));
    margin-top: calc(32px + (80 - 32)*((100vw - 768px) / (1920 - 768)));
}

footer p {
    text-align: center;
    margin: calc(11.2px + (28 - 11.2)*((100vw - 768px) / (1920 - 768))) 0;
    font-size: calc(7.2px + (18 - 7.2)*((100vw - 768px) / (1920 - 768)));
    line-height: calc(12.8px + (32 - 12.8)*((100vw - 768px) / (1920 - 768)));
    font-weight: 400;
}

@media (max-width: 768px) {
    .nav-menu nav li a:hover {
        text-decoration: none;
    }
    header {
        height: calc(500px + (1024 - 500)*((100vw - 375px) / (768 - 375)));
        background-image: url("../img/12333.png");
    }
    .container-menu {
        height: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
    }
    .logo-menu {
        width: 100%;
    }
    .logo-div {
        width: calc(58.594px + (120 - 58.594)*((100vw - 375px) / (768 - 375)));
        height: calc(11.718px + (24 - 11.718)*((100vw - 375px) / (768 - 375)));
        margin-left: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
    }
    .nav-menu {
        display: none;
    }
    .burger-btn {
        display: initial;
    }
    .btn-brgr {
        width: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
        height: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
        background-color: #ffffff00;
        border: none;
        position: relative;
    }
    .btn-brgr span {
        position: absolute;
        width: calc(10.742px + (22 - 10.742)*((100vw - 375px) / (768 - 375)));
        height: calc(0.976px + (2 - 0.976)*((100vw - 375px) / (768 - 375)));
        background-color: #ffffff;
        transition: transorm 2s opacity 2s background-color 2s;
    }
    .btn-brgr span:nth-child(2) {
        transform: translateY(calc(1.953px + (4 - 1.953)*((100vw - 375px) / (768 - 375)))) translate(-50%, -0);
    }
    .btn-brgr span:nth-child(1) {
        transform: translateY(calc(-1.953px + (-4 + 1.953)*((100vw - 375px) / (768 - 375)))) translate(-50%, -0);
    }
    .header-top.open .nav-arr {
        display: initial;
        width: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
        height: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
    }
    .header-top.open .nav-arr img {
        width: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
        height: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
    }
    .header-top.open .btn-brgr span {
        background-color: #191C1F;
    }
    .header-top.open .btn-brgr span:nth-child(1) {
        transform: translate(-50%, -0) translateY(0) rotate(45deg);
    }
    .header-top.open .btn-brgr span:nth-child(2) {
        transform: translate(-50%, -0) translateY(0) rotate(-45deg);
    }
    .header-top.open .logo-div {
        background-image: url("../img/Group75.svg");
    }
    .header-top.open .logo-menu {
        position: fixed;
        background-color: #FFFFFF;
    }
    .header-top.open .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(0, 50%);
        margin-top: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
        width: 100%;
        background-color: #FFFFFF;
        height: 100vh;
        z-index: 49;
    }
    .header-top.open .nav-menu nav {
        display: flex;
        flex-direction: column;
    }
    .header-top.open .nav-menu nav li {
        height: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
    }
    .header-top.open .row-row {
        height: 1px !important;
        width: 95%;
        background-color: #ECEFF2;
    }
    .header-top.open .nav-menu nav li a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: calc(39.0625px + (80 - 39.0625)*((100vw - 375px) / (768 - 375)));
        color: Gray;
        font-size: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
        font-weight: 400;
    }
    .txt-butt {
        height: calc(460.9375px + (944 - 460.9375)*((100vw - 375px) / (768 - 375)));
    }
    .container-txt {
        width: 61.9792%;
    }
    .txt-hp h1 {
        font-size: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
        line-height: calc(19.531px + (40 - 19.531)*((100vw - 375px) / (768 - 375)));
    }
    .txt-hp p {
        font-size: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
        margin-top: calc(8.3px + (17 - 8.3)*((100vw - 375px) / (768 - 375)));
    }
    .top-butt button {
        margin-top: calc(19.53125px + (40 - 19.53125)*((100vw - 375px) / (768 - 375)));
        padding: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
        border-radius: calc(1.9531px + (4 - 1.9531)*((100vw - 375px) / (768 - 375)));
    }
    .top-butt button p {
        padding-left: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
        padding-right: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
        font-size: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
    }
    .section-two {
        height: calc(349.121px + (715 - 349.121)*((100vw - 375px) / (768 - 375)));
    }
    .txt-cart {
        width: 93.49%;
    }
    .cart-txt {
        width: 44.53%;
        display: flex;
        margin-bottom: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
    }
    .txt-wrk h1 {
        font-size: calc(19.53125px + (40 - 19.53125)*((100vw - 375px) / (768 - 375)));
        margin-bottom: calc(20px + (42 - 20)*((100vw - 375px) / (768 - 375)));
    }
    .cart-txt img {
        margin-right: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
        width: calc(27.34375px + (56 - 27.34375)*((100vw - 375px) / (768 - 375)));
    }
    .cart-txt h2 {
        width: calc(131.8359px + (270 - 131.8359)*((100vw - 375px) / (768 - 375)));
        font-size: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
        margin-bottom: calc(1.953px + (4 - 1.953)*((100vw - 375px) / (768 - 375)));
    }
    .cart-txt p {
        font-size: calc(6.8359px + (14 - 6.8359)*((100vw - 375px) / (768 - 375)));
    }
    .thrt-blk {
        width: 95%;
    }
    .blk-txt {
        width: calc(171.875px + (352 - 171.875)*((100vw - 375px) / (768 - 375)));
    }
    .blk-txt h2 {
        font-size: calc(9.766px + (20 - 9.766)*((100vw - 375px) / (768 - 375)));
    }
    .blk-txt p {
        font-size: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
        line-height: calc(13.672px + (28 - 13.672)*((100vw - 375px) / (768 - 375)));
    }
    .thrt-blk img {
        width: calc(171.875px + (352 - 171.875)*((100vw - 375px) / (768 - 375)));
    }
    .sectionslider {
        height: calc(263.67px + (540 - 263.67)*((100vw - 375px) / (768 - 375)));
        z-index: 10;
    }
    .slick-list {
        width: 97.66%;
        margin-left: 1%;
    }
    .slider-item {
        width: calc(171.39px + (351 - 171.39)*((100vw - 375px) / (768 - 375)));
        height: calc(154.3px + (316 - 154.3)*((100vw - 375px) / (768 - 375)));
        border-radius: calc(3.9px + (8 - 3.9)*((100vw - 375px) / (768 - 375)));
        margin: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375))) calc(5.86px + (12 - 5.86)*((100vw - 375px) / (768 - 375)));
        box-shadow: 0 calc(2.44px + (5 - 2.44)*((100vw - 375px) / (768 - 375))) calc(11.72px + (24 - 11.72)*((100vw - 375px) / (768 - 375))) #0000000e;
    }
    .slick-dots {
        margin-top: calc(4.88px + (10 - 4.88)*((100vw - 375px) / (768 - 375)));
        margin-bottom: calc(21.97px + (45 - 21.97)*((100vw - 375px) / (768 - 375)));
    }
    .slick-dots li {
        margin: 0 calc(4.15px + (8.5 - 4.15)*((100vw - 375px) / (768 - 375)));
    }
    .slick-dots button {
        width: calc(3.9px + (8 - 3.9)*((100vw - 375px) / (768 - 375)));
        height: calc(3.9px + (8 - 3.9)*((100vw - 375px) / (768 - 375)));
    }
    .sectionslider h2 {
        margin-top: calc(16.11px + (33 - 16.11)*((100vw - 375px) / (768 - 375)));
        font-size: calc(19.53px + (40 - 19.53)*((100vw - 375px) / (768 - 375)));
        line-height: calc(27.34px + (56 - 27.34)*((100vw - 375px) / (768 - 375)));
    }
    .img-name {
        margin: calc(10.74px + (22 - 10.74)*((100vw - 375px) / (768 - 375))) calc(10.74px + (22 - 10.74)*((100vw - 375px) / (768 - 375))) calc(9.77px + (20 - 9.77)*((100vw - 375px) / (768 - 375))) calc(10.74px + (22 - 10.74)*((100vw - 375px) / (768 - 375)));
    }
    .avat-otz {
        margin-right: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
    }
    .avat-otz img {
        width: calc(21.484px + (44 - 21.484)*((100vw - 375px) / (768 - 375)));
        height: calc(21.484px + (44 - 21.484)*((100vw - 375px) / (768 - 375)));
    }
    .name-sity h3 {
        font-size: calc(7.8125px + (16 - 7.8125)*((100vw - 375px) / (768 - 375)));
        margin-bottom: calc(1.95px + (4 - 1.95)*((100vw - 375px) / (768 - 375)));
        line-height: calc(11.72px + (24 - 11.72)*((100vw - 375px) / (768 - 375)));
    }
    .name-sity p {
        font-size: calc(5.86px + (12 - 5.86)*((100vw - 375px) / (768 - 375)));
    }
    .cart-text {
        margin: 0 calc(10.74px + (22 - 10.74)*((100vw - 375px) / (768 - 375)));
    }
    .cart-text p {
        font-size: calc(6.84px + (14 - 6.84)*((100vw - 375px) / (768 - 375)));
        line-height: calc(11.72px + (24 - 11.72)*((100vw - 375px) / (768 - 375)));
    }
    footer {
        height: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
        margin-top: calc(19.53px + (40 - 19.53)*((100vw - 375px) / (768 - 375)));
    }
    footer p {
        margin: calc(13.67px + (28 - 13.67)*((100vw - 375px) / (768 - 375))) 0;
        font-size: calc(8.79px + (18 - 8.79)*((100vw - 375px) / (768 - 375)));
        line-height: calc(15.625px + (32 - 15.625)*((100vw - 375px) / (768 - 375)));
    }
}

@media (max-width: 375px) {
    header {
        height: calc(508.587px + (596 - 508.587)*((100vw - 320px) / (375 - 320)));
        background-image: url("../img/Lunch_atop_a_Skyscrape.png");
    }
    .container-menu {
        height: 80px;
    }
    .logo-div {
        width: 120px;
        height: 24px;
        margin-left: 16px;
    }
    .btn-brgr {
        width: 80px;
        height: 80px;
    }
    .btn-brgr span {
        width: 22px;
        height: 2px;
    }
    .btn-brgr span:nth-child(2) {
        transform: translate(-50%, -0) translateY(4px);
    }
    .btn-brgr span:nth-child(1) {
        transform: translate(-50%, -0) translateY(-4px);
    }
    .header-top.open .nav-arr {
        width: 24px;
        height: 24px;
    }
    .header-top.open .nav-arr img {
        width: 24px;
        height: 24px;
    }
    .header-top.open .nav-menu {
        margin-top: 79.5px;
    }
    .header-top.open .nav-menu nav li {
        height: 64px;
    }
    .header-top.open .nav-menu nav li a {
        height: 64px;
        font-size: 18px;
        padding-left: 10px;
    }
    .txt-butt {
        height: calc(509px + (516 - 509)*((100vw - 320px) / (375 - 320)));
    }
    .container-txt {
        width: 288px;
    }
    .txt-hp h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .txt-hp p {
        font-size: 16px;
        line-height: 28px;
    }
    .top-butt button {
        margin-top: 26px;
        padding: 20px;
        border-radius: 4px;
    }
    .top-butt button p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    .section-two {
        height: calc(1270px + (1135 - 1270)*((100vw - 320px) / (375 - 320)));
    }
    .txt-cart {
        width: calc(288px + (343 - 288)*((100vw - 320px) / (375 - 320)));
    }
    .cart-txt {
        width: 44.53%;
        display: flex;
        margin-bottom: 26px;
    }
    .txt-wrk h1 {
        font-size: 24px;
    }
    .cart-txt {
        width: 100%;
    }
    .cart-txt img {
        width: 56px;
        height: 56px;
        margin-right: 16px;
    }
    .cart-txt h2 {
        width: calc(216px + (270 - 216)*((100vw - 320px) / (375 - 320)));
        font-size: 16px;
        margin-bottom: 4px;
    }
    .cart-txt p {
        font-size: 14px;
    }
    .thrt-blk {
        width: calc(288px + (343 - 288)*((100vw - 320px) / (375 - 320)));
        flex-direction: column-reverse;
    }
    .blk-txt {
        width: calc(288px + (343 - 288)*((100vw - 320px) / (375 - 320)));
    }
    .blk-txt h2 {
        font-size: 20px;
        margin-bottom: calc(28px + (0 - 28)*((100vw - 320px) / (375 - 320)));
        margin-top: calc(28px + (7 - 28)*((100vw - 320px) / (375 - 320)));
        text-align: center;
    }
    .blk-txt p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
    .thrt-blk img {
        width: calc(288px + (343 - 288)*((100vw - 320px) / (375 - 320)));
    }
    .sectionslider {
        z-index: 10;
        height: auto;
    }
    .slick-list {
        width: 100%;
        margin-left: 0;
    }
    .sectionslider h2 {
        margin-top: calc(23.04px + (27 - 23.04)*((100vw - 320px) / (375 - 320)));
        font-size: 24px;
        line-height: 32px;
    }
    .slider-item {
        width: calc(288px + (340 - 288)*((100vw - 320px) / (375 - 320)));
        height: auto;
        border-radius: 8px;
        margin: 16px 26px;
        box-shadow: 0 5 24 #0000001A;
    }
    .slick-dots {
        margin-top: calc(12px + (14 - 12)*((100vw - 320px) / (375 - 320)));
        margin-bottom: calc(33px + (37 - 33)*((100vw - 320px) / (375 - 320)));
    }
    .slick-dots li {
        margin: 8.5px;
    }
    .slick-dots button {
        width: 8px;
        height: 8px;
    }
    .img-name {
        margin: 22px 22px 20px 22px;
    }
    .avat-otz {
        margin-right: 16px;
    }
    .avat-otz img {
        width: 44px;
        height: 44px;
    }
    .name-sity h3 {
        font-size: 16px;
        margin-bottom: 4px;
        line-height: 24px;
    }
    .name-sity p {
        font-size: 12px;
    }
    .cart-text {
        margin: 0 22px;
        margin-bottom: 27px;
    }
    .cart-text p {
        font-size: 14px;
        line-height: 24px;
    }
    footer {
        height: 88px;
        margin-top: calc(27px + (43 - 27)*((100vw - 320px) / (375 - 320)));
    }
    footer p {
        margin: 28px 0;
        font-size: 18px;
        line-height: 32px;
    }
}